/* ANIMATION ELEVEN DANS PRÉSENTATION */


$anim-length: 10s;


body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	overflow: hidden;
}


#eleven{
margin-left: 300px;
}
#world {
	position: absolute;
	z-index: 7;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	filter: brightness(1000%);
	-webkit-filter: brightness(1000%);
	animation: upside-rain $anim-length linear infinite;
}

@keyframes upside-rain {
	0% { opacity: 0; }
	30% { opacity: 0; }
	32% { opacity: 0.075; }
	50% { opacity: 0.075; }
	52% { opacity: 0; }
	100% { opacity: 0; }
}

.grain {
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.hawkins {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 700px;
	height: 500px;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782962/posterback_vrnptz.png);
	background-size: 650px;
	background-repeat: no-repeat;
	background-position: center;
	animation: upside-down $anim-length linear infinite;
}

@keyframes upside-down {
	0% { filter: none; -webkit-filter: none; }
	30% { filter: none; -webkit-filter: none; }
	31% { filter: brightness(400%); -webkit-filter: brightness(400%); }
	32% { filter: brightness(400%); -webkit-filter: brightness(400%); }
	33% {
		filter: sepia(100%) hue-rotate(180deg) saturate(450%) contrast(115%) brightness(75%);
		-webkit-filter: sepia(100%) hue-rotate(180deg) saturate(450%) contrast(115%) brightness(75%);
	}
	50% {
		filter: sepia(100%) hue-rotate(180deg) saturate(450%) contrast(115%) brightness(75%);
		-webkit-filter: sepia(100%) hue-rotate(180deg) saturate(450%) contrast(115%) brightness(75%);
	}
	51% { filter: brightness(400%); -webkit-filter: brightness(400%); }
	52% { filter: brightness(400%); -webkit-filter: brightness(400%); }
	53% { filter: none; -webkit-filter: none; }
	100% { filter: none; -webkit-filter: none; }
}

.el {
	position: relative;
	margin-left: 65px;
	width: 500px;
	height: 500px;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782960/eleven_eyeca0.png);
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: center;
	animation: el-shake 5s linear infinite;
}

@keyframes el-shake {
	0% { transform: translate(0px, 0px); }
	15% { transform: translate(1px, 0px); }
	30% { transform: translate(0px, 1px); }
	45% { transform: translate(-1px, 1px); }
	60% { transform: translate(-1px, 0px); }
	75% { transform: translate(0px, 0px); }
	85% { transform: translate(0px, -1px); }
	100% { transform: translate(0px, 0px); }
}

.part {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.eyelids {
	z-index: 5;
	opacity: 0;
	top: 163px;
	left: 119px;
	width: 117px;
	height: 100px;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782959/eyelids_s12six.png);
	animation: blink 6.5s ease-out infinite;
}

@keyframes blink {
	0% { opacity: 0 }
	20% { opacity: 0 }
	21% { opacity: 0.8 }
	21.5% { opacity: 0.8 }
	23% { opacity: 0 }
	60% { opacity: 0 }
	61% { opacity: 0.95 }
	61.5% { opacity: 0.95 }
	63% { opacity: 0 }
	70% { opacity: 0 }
	71% { opacity: 0.85 }
	71.5% { opacity: 0.85 }
	73% { opacity: 0 }
	100% { opacity: 0 }
}

.arm {
	top: 232px;
	left: 233px;
	width: 150px;
	height: 300px;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782959/arm_iwjvzv.png);
	animation: arm-shake 5s ease-out infinite;
}

@keyframes arm-shake {
	0% { transform: translate(0px, 1px); }
	15% { transform: translate(1px, 1px); }
	30% { transform: translate(0px, 1px); }
	45% { transform: translate(0px, 1px); }
	60% { transform: translate(1px, 0px); }
	75% { transform: translate(1px, 0px); }
	85% { transform: translate(1px, 1px); }
	100% { transform: translate(0px, 1px); }
}

.hand {
	top: 197px;
	left: 181px;
	width: 282px;
	height: 300px;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782959/hand_kuy5dz.png);
	animation: hand-shake 8s ease-out infinite;
}

@keyframes hand-shake {
	0% { transform: translate(1px, -1px) scale(1.01); }
	10% { transform: translate(-1px, -1px) scale(1.02); }
	30% { transform: translate(1px, 1px) scale(1.05); }
	35% { transform: translate(-1px, -1px) scale(1); }
	45% { transform: translate(0px, 1px) scale(1.0175); }
	60% { transform: translate(-1px, -1px) scale(1.01); }
	85% { transform: translate(1px, 1px) scale(1.04); }
	100% { transform: translate(1px, -1px) scale(1.01); }
}

.eye-problems {
	top: 72px;
	left: 107px;
	width: 142px;
	height: 300px;
	opacity: 0.7;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782958/eye-problems_y1f6ne.png);
	animation: side-effects $anim-length ease-out infinite;
}

@keyframes side-effects {
	0% { opacity: 0; }
	30% { opacity: 0; }
	50% { opacity: .8; }
	90% { opacity: 0; }
	100% { opacity: 0; }
}

.blood {
	top: 225px;
	left: 180px;
	width: 20px;
	height: 100px;
	opacity: 1;
	background-image: url(https://res.cloudinary.com/dxscrtoxq/image/upload/v1468782958/blood_rnujxa.png);
	animation: drip $anim-length ease-out infinite;
}

@keyframes drip {
	0% { opacity: 0; }
	30% { opacity: 0; }
	50% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}

/* ANIMATION DE TEXTES "NOS PRODUITS" ET "WHAT'S ON TV"*/

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);



.title{
  color: transparent;
  font-size: 80px;
  background: url("../img/wallp.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  line-height:150px;
  letter-spacing: 2px;
  margin-left: 730px;
}
