body {
  padding-top: 150px;
  background-color: black;
  font-family:'Poppins', sans-serif;
}
p{
  color: white;
}
#synopsis{
  color : #AF2E2A;
  font-size: 27px;

}

#stf{
  color: #AF2E2A;
  font-size: 27px;
}

.fa-shopping-basket{
  font-size: 22px;
  margin-top: 5px;
}

.navbar {
  background-color: black;
  font-size: x-large;
  border-bottom: 2px solid black;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: white;
}
#myBtn{position:absolute;
        right:0;
  color:white;
  background-color: inherit;
}

.titleNavBar{
  color: white;
}

.btn-secondary{
  background-color: #AF2E2A;
}


#myBtn:hover {
  color: #AF2E2A;
}
#changeBtn {
  list-style-type: none;
}

h6 {
  font-size: x-large;
}
i {
  color: #4c4523;
}
a {
  color : #4c4523;
}
a:hover {
color: black;
}


.card-img-top{
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#footer{
  text-align: center;
  margin-top: 80px;
  color: white;
  background: url('../img/lights.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer{
  padding-top: 15px;
}

#scroll{
  margin-left: 900px;

}

.fa-stroopwafel{
  color: #AF2E2A;
  font-size: 30px;
}

.btn-primary{ /* couleur du texte dans le bouton "Ajouter au panier" */
  color: white;

}

.card-img-top:hover{
  border: 5px solid #AF2E2A;
  opacity: 0.7;
}

.btn{
  background-color: rgba(174, 46, 42, 0.7);
  color: white;
}

  .btn:hover{
    border: 1px solid white;
    color: white;
    opacity: 0.8;
  }

.card{
  margin-top: 40px;
  background-color: black;
  text-align: center;
}

/* Modal début */
.imageArticleContanier {
  display: grid;
  justify-content: center;
  align-items: center;
}
.priceArticleContainer button {
  width: 32px;
  height: 32px;
}
.modal-full {
  min-width: 70%;
  margin: 0 auto;
}
.modal-full .modal-content {
  min-height: 50%;
}
h5, h4, h3 {
  font-weight: bold;
}
h3{

}

#total {
  position: fixed;
  left: 1rem;
}
.imageArticle {
  width: 128px;
  height: auto;
}
.quantity {
  font-size: 1rem;
}
@media only screen and (max-width: 980px) {

  .modal-body {
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    justify-content: center;
    align-items: start;
  }
  .priceArticleContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-right: 1rem;
  }
  #remove {
    width: 40%;
    margin : auto;

  }
}
@media only screen and (min-width: 980px) {

  .modal-body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .infoArticleContainer {
    height: 100%;
  }
  .imageArticleContanier, .infoArticleContainer, .priceArticleContainer {
  margin-top: 2rem;
  }
}
/* Modal fin */


.activeCategory a{
  color : #AF2E2A;
}

#presentation{
text-align: center;
}

#desc{
  color: white;
}

#price{
color: white;
}

h3{
  color: #AF2E2A;
}

#red{
  color: #AF2E2A;
}

#select{
  margin-top: 10px;
  margin-left: 108px;
}

/* CSS ANIMATION STRANGER THINGS */

body {
  background-color: #000;
  margin: 0;
}

svg {
  display: block;
  margin: auto;
  padding: 0;
}

.backgroundSky {
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    fill: #000;
  }
  10% {
    fill: #400808;
  }
  15% {
    fill: #000;
  }
  20% {
    fill: #400808;
  }
  75% {
    fill: #000;
  }
  80% {
    fill: #400808;
  }
  100% {
    fill: #000;
  }
}

.cloud-one, .cloud-three {
  animation: cloudFlash 3s infinite;
}

@keyframes cloudFlash {
  0% {
    fill: #000;
  }
  10% {
    fill: #561111;
  }
  15% {
    fill: #000;
  }
  20% {
    fill: #400808;
  }
  75% {
    fill: #000;
  }
  80% {
    fill: #561111;
  }
  100% {
    fill: #000;
  }
}

.cloud-two, .cloud-four {
  animation: cloudFlash2 2s infinite;
}

@keyframes cloudFlash2 {
  0% {
    fill: #000;
  }
  10% {
    fill: #4d4d4d;
  }
  15% {
    fill: #000;
  }
  20% {
    fill: #400808;
  }
  75% {
    fill: #000;
  }
  80% {
    fill: #4d4d4d;
  }
  100% {
    fill: #000;
  }
}

.white-mist, .white-mist2, .white-mist3, .red-mist {
  animation: mistFlash 2s infinite;
}

@keyframes mistFlash {
  0% {
    fill: #4d4d4d;
  }
  10% {
    fill: #000;
  }
  15% {
    fill: #000;
  }
  20% {
    fill: #000;
  }
  75% {
    fill: #000;
  }
  80% {
    fill: #4d4d4d;
  }
  100% {
    fill: #000;
  }
}
/* monster */
.head {
  animation: tilt 20s ease-in infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rightTopleg {
  animation: tilt2 8s ease-in infinite;
}

@keyframes tilt2 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* the upside down snow */
.particle-one, .particle-four, .particle-seven {
  animation: leftMovement 15s linear infinite;
}

@keyframes leftMovement {
  0% {
    transform: translateX(1px) translateY(0);
    opacity: 0;
  }
  25% {
    transform: translateX(9px) translateY(-3px);
    opacity: 0.7;
  }
  50% {
    transform: translateX(28px) translateY(-1px);
    opacity: 0;
  }
  75% {
    transform: translateX(46px) translateY(-1);
    opacity: 1;
  }
  100% {
    transform: translateX(52px) translateY(0);
    opacity: 0;
  }
}

.particle-two, .particle-five, .particle-eight {
  animation: leftMovement2 10s linear infinite;
}

@keyframes leftMovement2 {
  0% {
    transform: translateX(1px) translateY(-2);
    opacity: 0;
  }
  25% {
    transform: translateX(5px) translateY(-2px);
    opacity: 1;
  }
  50% {
    transform: translateX(18px) translateY(-10px);
  }
  75% {
    transform: translateX(36px) translateY(-15);
  }
  100% {
    transform: translateX(42px) translateY(0);
    opacity: 0;
  }
}

.particle-three, .particle-six, .particle-nine {
  animation: rightMovement 15s linear infinite;
}

@keyframes rightMovement {
  0% {
    transform: translateX(1px);
    opacity: 0;
  }
  25% {
    transform: translateX(-5px);
    opacity: 0.7;
  }
  50% {
    transform: translateX(-18px);
    opacity: 0;
  }
  75% {
    transform: translateX(-36px);
    opacity: 1;
  }
  100% {
    transform: translateX(-42px);
    opacity: 0;
  }
}

/* CSS CREDITS */


@keyframes fadeinout {
  0%,15%,85%,100% { opacity: 0; color: red }
  25%,50%,75% { opacity: 1; color: white }
}


@-webkit-keyframes text {
    from {color: white;}
    to {color: red;}
}


.elementToFadeInAndOut {
    opacity: 1;
    animation: fadeinout 4s  forwards;
    -webkit-animation: fadeinout 4s  forwards;

}

.duffer {
  color: white;
  font-weight:bold;
  font-size:28px;
  font-family:'Poppins', sans-serif;
  text-align:center;
  animation-duration: 6s;
  }


/* CSS POUR LES PARTICULES UPDSIDE DOWN */

#particles, #particles:after{
	width:1px;
	height:1px;
	box-shadow:326px 639px #666,305px 1860px #666,653px 1797px #666,1190px 1004px #666,94px 334px #666,1417px 1421px #666,1413px 328px #666,1166px 166px #666,1576px 957px #666,1250px 1642px #666,1191px 832px #666,479px 327px #666,1284px 1726px #666,82px 478px #666,1731px 400px #666,1914px 1842px #666,1326px 1738px #666,76px 884px #666,1496px 163px #666,1378px 1244px #666,1097px 1374px #666,113px 1921px #666,1792px 914px #666,1768px 1165px #666,1169px 1921px #666,243px 1633px #666,98px 1026px #666,807px 1575px #666,360px 1299px #666,855px 1742px #666,731px 398px #666,391px 1780px #666,214px 192px #666,1080px 746px #666,720px 1447px #666,699px 451px #666,32px 1451px #666,1679px 1199px #666,1254px 1669px #666,1566px 14px #666,1648px 798px #666,999px 102px #666,1599px 1604px #666,764px 1296px #666,1537px 1264px #666,390px 1640px #666,388px 1784px #666,44px 279px #666,1871px 788px #666,1398px 489px #666,272px 1347px #666,181px 1236px #666,365px 1530px #666,275px 1131px #666,700px 1459px #666,1815px 434px #666,291px 1142px #666,1376px 600px #666,261px 52px #666,925px 639px #666,1755px 368px #666,68px 801px #666,926px 1551px #666,1261px 269px #666,140px 1838px #666,665px 543px #666,228px 1495px #666,1392px 198px #666,1386px 1379px #666,1134px 977px #666,1771px 985px #666,49px 1808px #666,1832px 854px #666,1006px 696px #666,599px 1513px #666,1117px 1405px #666,320px 1611px #666,1204px 943px #666,411px 1205px #666,1197px 365px #666,724px 45px #666,965px 1299px #666,1900px 934px #666,234px 1440px #666,553px 310px #666,1218px 1288px #666,1493px 561px #666,68px 1353px #666,847px 1621px #666,640px 322px #666,770px 592px #666,1767px 1371px #666,443px 1850px #666,146px 894px #666,923px 496px #666,1265px 667px #666,1770px 1806px #666,439px 1013px #666,68px 990px #666,1757px 193px #666,512px 1687px #666,1084px 484px #666,361px 1386px #666,1561px 157px #666,1655px 284px #666,933px 1531px #666,38px 432px #666,1395px 1461px #666,1294px 2000px #666,852px 1271px #666,334px 547px #666,249px 703px #666,980px 230px #666,1001px 480px #666,1601px 1362px #666,1156px 776px #666,697px 1666px #666,184px 855px #666,966px 119px #666,1849px 1455px #666,993px 1775px #666,54px 1807px #666,1182px 1547px #666,646px 734px #666,1667px 1394px #666,394px 613px #666,1550px 1785px #666,33px 1490px #666,169px 286px #666,779px 140px #666,493px 579px #666,1503px 1608px #666,371px 403px #666,666px 1302px #666,24px 1303px #666,1630px 830px #666,197px 1105px #666,241px 1067px #666,579px 1404px #666,1957px 1965px #666,508px 228px #666,1224px 1736px #666,1625px 392px #666,614px 1869px #666,1244px 101px #666,299px 625px #666,1062px 1821px #666,999px 1169px #666,1167px 854px #666,1866px 15px #666,939px 1804px #666,1358px 1580px #666,669px 1896px #666,695px 516px #666,1812px 1494px #666,1276px 1393px #666,745px 970px #666,1196px 1980px #666,23px 1105px #666,854px 184px #666,1666px 1416px #666,319px 1221px #666,891px 1424px #666,516px 1066px #666,947px 246px #666,1141px 57px #666,804px 1146px #666,1856px 82px #666,615px 782px #666,118px 1456px #666,1151px 654px #666,1030px 19px #666,1841px 787px #666,1495px 1869px #666,821px 1207px #666,1631px 1180px #666,1079px 1933px #666,1531px 1876px #666,83px 1265px #666,527px 1772px #666,925px 801px #666,1103px 46px #666,1561px 1386px #666,1170px 415px #666,1923px 992px #666,425px 1839px #666,188px 623px #666,1910px 1476px #666,459px 1649px #666,1164px 1180px #666,1678px 145px #666,201px 325px #666,336px 600px #666,366px 666px #666,1724px 1088px #666,8px 1079px #666,1272px 1345px #666,786px 517px #666,877px 289px #666,148px 796px #666,1436px 660px #666,488px 251px #666,1539px 480px #666,1723px 1343px #666,147px 879px #666,505px 1561px #666,1805px 770px #666,508px 1927px #666,709px 1668px #666,808px 1443px #666,1177px 264px #666,1583px 181px #666,370px 435px #666,92px 1818px #666,1119px 1879px #666,251px 140px #666,1018px 1097px #666,269px 1419px #666,888px 610px #666,830px 765px #666,1054px 1270px #666,646px 1051px #666,1659px 1703px #666,1969px 1996px #666,384px 1423px #666,27px 764px #666,1427px 1533px #666,1266px 875px #666,1309px 1298px #666,1055px 994px #666,1996px 1900px #666,1284px 1826px #666,1192px 730px #666,1780px 66px #666,1231px 124px #666,1767px 1865px #666,1323px 1114px #666,1232px 1694px #666,1607px 1551px #666,564px 370px #666,463px 498px #666,1376px 164px #666,50px 1490px #666,540px 631px #666,239px 1546px #666,1206px 413px #666,762px 1270px #666,1789px 353px #666,357px 1435px #666,1757px 190px #666,1150px 1268px #666,1064px 1986px #666,1709px 1187px #666,1085px 1662px #666,1908px 1668px #666,1654px 1836px #666,406px 735px #666,869px 1328px #666,1671px 436px #666,561px 1367px #666,1179px 735px #666,1001px 1154px #666,1167px 1729px #666,35px 1829px #666,543px 1176px #666,1620px 1492px #666,942px 796px #666,920px 825px #666,1556px 1704px #666,1093px 1115px #666,76px 356px #666,1564px 1104px #666,1004px 267px #666,592px 1556px #666,1294px 1377px #666,1316px 1095px #666,1260px 1588px #666,1237px 1590px #666,1179px 1507px #666,221px 1202px #666,1637px 995px #666,1682px 1069px #666,1030px 1582px #666,273px 1332px #666,698px 951px #666,1575px 773px #666,358px 237px #666,1344px 1493px #666,666px 594px #666,156px 948px #666,1216px 1691px #666,1957px 1063px #666,1872px 565px #666,298px 503px #666,1591px 895px #666,1691px 1944px #666,290px 722px #666,1545px 299px #666,890px 1181px #666,1588px 1882px #666,859px 1025px #666,715px 845px #666,245px 1422px #666,666px 1687px #666,1592px 596px #666,1379px 744px #666,1908px 1697px #666,488px 1508px #666,691px 1245px #666,1978px 758px #666,1284px 1199px #666,1226px 1488px #666,52px 1112px #666,455px 1158px #666,475px 416px #666,106px 1948px #666,174px 459px #666,279px 1322px #666,226px 381px #666,617px 862px #666,601px 163px #666,1080px 506px #666,1840px 516px #666,1763px 1394px #666,1081px 1516px #666,1358px 1499px #666,996px 1032px #666,850px 178px #666,1296px 231px #666,1053px 920px #666,1992px 121px #666,1119px 1385px #666,335px 1780px #666,1408px 443px #666,1839px 1797px #666,344px 1939px #666,1668px 1241px #666,1683px 1170px #666,1545px 1517px #666,149px 1428px #666,878px 1372px #666,538px 415px #666,314px 1649px #666,1281px 48px #666,1554px 1886px #666,1765px 507px #666,431px 1245px #666,346px 1627px #666,539px 613px #666,534px 1901px #666,1017px 1616px #666,1702px 706px #666,147px 1953px #666,475px 966px #666,1598px 1635px #666,1531px 1380px #666,1506px 238px #666,1534px 1988px #666,1517px 1920px #666,1793px 1255px #666,774px 329px #666,913px 90px #666,1372px 1972px #666,442px 1448px #666,1901px 1479px #666,876px 1797px #666,783px 632px #666,1020px 274px #666,1475px 222px #666,1305px 992px #666,1894px 1204px #666,1036px 1133px #666,69px 1692px #666,1653px 1316px #666,1257px 1953px #666,505px 163px #666,1602px 1989px #666,61px 624px #666,488px 483px #666,483px 1676px #666,1735px 1794px #666,360px 1215px #666,1069px 310px #666,1443px 549px #666,1677px 563px #666,34px 1489px #666,1179px 1664px #666,985px 63px #666,1903px 110px #666,1531px 981px #666,6px 1088px #666,124px 1701px #666,1657px 1126px #666,482px 1480px #666,114px 263px #666,864px 1585px #666,1198px 1662px #666,944px 1034px #666,1463px 1477px #666,800px 803px #666,1796px 1836px #666,1347px 713px #666,445px 74px #666,63px 865px #666,725px 1967px #666,729px 1053px #666,605px 1628px #666,1118px 584px #666,1652px 1386px #666,1288px 58px #666,557px 374px #666,1965px 79px #666,1583px 1607px #666,389px 589px #666,1337px 1988px #666,1100px 283px #666,838px 1392px #666,1875px 484px #666,1795px 1217px #666,963px 1205px #666,129px 289px #666,278px 389px #666,74px 475px #666,1460px 634px #666,587px 404px #666,729px 818px #666,1259px 197px #666,1100px 1636px #666,1712px 489px #666,1080px 1674px #666,980px 1121px #666,1346px 1618px #666,273px 33px #666,750px 280px #666,1330px 579px #666,1595px 703px #666,367px 1471px #666,1728px 93px #666,57px 1037px #666,1946px 710px #666,1193px 1542px #666,812px 591px #666,1305px 291px #666,676px 292px #666,1566px 775px #666,1980px 427px #666,747px 204px #666,1642px 1843px #666,162px 1138px #666,1088px 1043px #666,1488px 263px #666,1855px 1876px #666,668px 701px #666,1797px 679px #666,764px 566px #666,1095px 1801px #666,1113px 128px #666,1267px 306px #666,825px 775px #666,1117px 1028px #666,1031px 1887px #666,172px 1155px #666,523px 1784px #666,1041px 218px #666,987px 989px #666,1495px 631px #666,584px 1489px #666,219px 151px #666,793px 949px #666,1994px 596px #666,719px 445px #666,1214px 503px #666,190px 1091px #666,1865px 1438px #666,1743px 1586px #666,953px 1208px #666,565px 396px #666,1656px 1802px #666,315px 247px #666,1781px 1342px #666,1071px 721px #666,133px 1712px #666,767px 86px #666,1288px 562px #666,95px 877px #666,1511px 219px #666,992px 735px #666,1339px 543px #666,288px 644px #666,1566px 1945px #666,89px 386px #666,855px 1218px #666,671px 757px #666,1655px 960px #666,475px 1310px #666,1755px 105px #666,955px 1143px #666,75px 1621px #666,905px 1017px #666,108px 1025px #666,284px 842px #666,1589px 1319px #666,1054px 810px #666,1493px 669px #666,987px 252px #666,1861px 1302px #666,8px 1936px #666,1635px 1643px #666,1419px 1039px #666,828px 761px #666,806px 1202px #666,58px 1621px #666,834px 717px #666,1664px 498px #666,1453px 1140px #666,1548px 1678px #666,745px 814px #666,1053px 285px #666,1591px 1437px #666,1059px 192px #666,373px 256px #666,1983px 1198px #666,335px 1592px #666,889px 913px #666,1881px 871px #666,186px 552px #666,836px 685px #666,641px 474px #666,1114px 1518px #666,1612px 248px #666,1164px 1541px #666,740px 1772px #666,769px 285px #666,16px 1110px #666,1626px 1985px #666,1853px 1775px #666,1098px 467px #666,1919px 1980px #666,94px 755px #666,599px 1144px #666,1390px 393px #666,1596px 1234px #666,1950px 249px #666,1277px 640px #666,658px 881px #666,734px 1112px #666,526px 1433px #666,1320px 642px #666,803px 1624px #666,1607px 919px #666,1341px 1627px #666,261px 1391px #666,902px 628px #666,561px 1709px #666,687px 120px #666,156px 267px #666,343px 303px #666,577px 1299px #666,1534px 1183px #666,776px 1px #666,40px 163px #666,1442px 1783px #666,1724px 540px #666,754px 136px #666,1880px 1402px #666,946px 1312px #666,147px 1616px #666,335px 1815px #666,1562px 257px #666,342px 1747px #666,420px 260px #666,1587px 1912px #666,664px 1201px #666,1322px 295px #666,1558px 1314px #666,1965px 193px #666,17px 1879px #666,235px 1733px #666,964px 1709px #666,953px 41px #666,657px 1405px #666,637px 68px #666,1175px 1116px #666,481px 1049px #666,1699px 1755px #666,1514px 1668px #666,1219px 1526px #666,912px 11px #666,1176px 526px #666,1133px 1553px #666,445px 677px #666,135px 1235px #666,1310px 1057px #666,1718px 1723px #666,1267px 13px #666,1285px 804px #666,306px 1648px #666,657px 246px #666,466px 775px #666,1290px 10px #666,1201px 422px #666,1306px 543px #666,1072px 1661px #666,27px 651px #666,168px 296px #666,1116px 1314px #666,957px 308px #666,665px 1676px #666,354px 726px #666,1418px 1560px #666,1190px 81px #666,590px 1560px #666,610px 1226px #666,215px 1923px #666,432px 544px #666,230px 1942px #666,1152px 1960px #666,1980px 724px #666,845px 977px #666,381px 1920px #666,439px 1040px #666,642px 107px #666,837px 187px #666,1139px 1430px #666,255px 1568px #666,666px 1177px #666,1574px 23px #666,1411px 832px #666,1820px 1082px #666,1590px 1838px #666,69px 1661px #666,1420px 809px #666,1322px 1511px #666,375px 1896px #666,536px 121px #666,195px 848px #666,1246px 350px #666,676px 1171px #666,57px 947px #666,1553px 342px #666,1296px 233px #666,339px 1084px #666,1335px 91px #666,1265px 776px #666,1897px 442px #666,604px 1645px #666,249px 1284px #666,1007px 272px #666,1347px 1216px #666,771px 572px #666,389px 1775px #666,217px 974px #666,1827px 1626px #666,1432px 139px #666,1072px 683px #666,1020px 1259px #666,555px 1977px #666,707px 488px #666,1065px 1969px #666,1998px 310px #666,199px 1316px #666,1512px 1088px #666,1020px 1338px #666,1216px 1290px #666,261px 1786px #666,1505px 379px #666,449px 1437px #666,844px 1084px #666,1109px 6px #666,332px 78px #666,1359px 1811px #666,427px 355px #666,517px 426px #666,1295px 361px #666,389px 1558px #666,149px 756px #666,23px 179px #666,521px 1397px #666,408px 366px #666,1311px 149px #666,1573px 1545px #666,1587px 135px #666,1142px 1079px #666,1660px 244px #666,788px 198px #666,975px 1588px #666,1472px 928px #666,1841px 353px #666,681px 745px #666,1120px 1634px #666,1103px 1656px #666,211px 680px #666,270px 1162px #666,485px 1112px #666,1175px 33px #666,1056px 1188px #666,1304px 382px #666,386px 289px #666,251px 806px #666,1185px 314px #666;
}

#particles2, #particles2:after {
	width:2px;
	height:2px;
	box-shadow:1424px 1464px #555,204px 1477px #555,1079px 1242px #555,1623px 1568px #555,1084px 1713px #555,255px 1697px #555,328px 1090px #555,1867px 803px #555,438px 672px #555,804px 82px #555,1886px 1631px #555,170px 706px #555,1371px 686px #555,1281px 843px #555,1801px 1737px #555,1169px 554px #555,1680px 637px #555,156px 710px #555,1043px 1645px #555,1428px 1497px #555,519px 851px #555,1423px 919px #555,1829px 1719px #555,1855px 1901px #555,109px 1448px #555,1782px 1330px #555,156px 574px #555,1501px 1278px #555,1658px 936px #555,703px 1073px #555,962px 1911px #555,717px 1002px #555,461px 782px #555,288px 402px #555,463px 690px #555,981px 59px #555,1033px 598px #555,738px 1573px #555,174px 573px #555,323px 17px #555,49px 1222px #555,848px 253px #555,6px 1298px #555,1924px 393px #555,235px 456px #555,1395px 1527px #555,1323px 588px #555,651px 693px #555,618px 1794px #555,1766px 59px #555,507px 846px #555,332px 520px #555,342px 815px #555,733px 773px #555,428px 1684px #555,396px 1119px #555,1327px 1792px #555,1770px 1656px #555,455px 692px #555,1901px 1577px #555,45px 565px #555,137px 1663px #555,356px 112px #555,370px 1702px #555,1110px 506px #555,440px 1976px #555,1488px 1373px #555,860px 242px #555,1651px 533px #555,473px 726px #555,1397px 198px #555,1507px 1939px #555,1596px 1893px #555,1246px 638px #555,1997px 830px #555,443px 1369px #555,749px 45px #555,1746px 306px #555,714px 236px #555,1193px 707px #555,1100px 25px #555,1204px 1311px #555,490px 1638px #555,705px 1970px #555,459px 1042px #555,823px 205px #555,1927px 1225px #555,1685px 57px #555,297px 774px #555,280px 1231px #555,348px 1405px #555,1802px 1799px #555,1585px 1734px #555,1487px 20px #555,61px 1446px #555,248px 1394px #555,247px 1280px #555,1762px 1205px #555,1863px 1124px #555,1339px 872px #555,740px 66px #555,1394px 1732px #555,308px 1673px #555,1360px 1961px #555,885px 1779px #555,1879px 229px #555,930px 677px #555,1119px 546px #555,144px 1237px #555,1363px 1077px #555,1656px 1207px #555,968px 660px #555,205px 1214px #555,764px 1341px #555,1575px 1016px #555,1503px 1917px #555,1154px 1766px #555,1102px 1023px #555,675px 1293px #555,1069px 227px #555,1982px 960px #555,1826px 463px #555,133px 160px #555,1938px 1088px #555,1671px 285px #555,819px 892px #555,1095px 1927px #555,828px 1562px #555,1847px 1100px #555,1613px 1724px #555,492px 1688px #555,1978px 1058px #555,52px 1517px #555,1420px 1837px #555,1109px 398px #555,1833px 1740px #555,14px 9px #555,1095px 700px #555,158px 1969px #555,225px 778px #555,487px 1080px #555,1782px 502px #555,726px 1999px #555,1857px 1367px #555,1774px 1479px #555,1667px 5px #555,1292px 303px #555,722px 339px #555,847px 736px #555,1200px 379px #555,251px 851px #555,275px 787px #555,692px 1970px #555,1948px 1498px #555,1172px 661px #555,1712px 425px #555,1377px 932px #555,1296px 763px #555,1137px 1377px #555,255px 1564px #555,1312px 387px #555,1500px 239px #555,1464px 535px #555,1576px 1976px #555,48px 1411px #555,178px 905px #555,653px 967px #555,1426px 293px #555,881px 1422px #555,1274px 1742px #555,1193px 1581px #555,1204px 700px #555,792px 726px #555,1090px 576px #555,1266px 1107px #555,211px 1931px #555,269px 791px #555,1369px 764px #555,1516px 1601px #555,1627px 1578px #555,88px 1795px #555,1322px 316px #555,1827px 213px #555,1203px 1771px #555,680px 1141px #555,600px 1126px #555,761px 269px #555,397px 828px #555,1406px 271px #555,1641px 1999px #555,1351px 1074px #555,1038px 1734px #555,1976px 711px #555,94px 1514px #555,988px 325px #555,1741px 1646px #555,11px 463px #555,1959px 1644px #555,272px 1583px #555,760px 514px #555;
}

#particles3, #particles3:after{
	width:3px;
	height:3px;
	box-shadow:1675px 856px #444,1623px 1439px #444,295px 1894px #444,341px 1815px #444,1026px 273px #444,327px 1336px #444,525px 313px #444,1146px 1533px #444,444px 1248px #444,1078px 743px #444,1490px 449px #444,680px 1393px #444,1121px 1515px #444,253px 1451px #444,964px 928px #444,840px 1529px #444,1839px 1426px #444,1044px 367px #444,413px 1021px #444,1829px 1991px #444,1227px 77px #444,285px 1192px #444,625px 1505px #444,1245px 598px #444,105px 338px #444,1343px 480px #444,900px 1359px #444,1487px 1961px #444,398px 424px #444,1477px 659px #444,391px 594px #444,237px 1316px #444,955px 741px #444,160px 1321px #444,24px 836px #444,484px 436px #444,1415px 63px #444,30px 1050px #444,1135px 1452px #444,1517px 630px #444,1558px 1707px #444,1818px 917px #444,1975px 516px #444,1873px 1958px #444,1563px 1753px #444,747px 641px #444,855px 1930px #444,1507px 81px #444,1364px 1175px #444,937px 1458px #444,267px 524px #444,1835px 915px #444,460px 765px #444,683px 1533px #444,904px 1807px #444,1199px 488px #444,550px 1127px #444,1721px 1586px #444,1474px 839px #444,483px 1192px #444,1159px 765px #444,24px 1878px #444,1202px 1658px #444,1877px 1714px #444,597px 806px #444,1346px 1927px #444,1899px 1015px #444,1289px 956px #444,1847px 958px #444,1674px 1195px #444,961px 1197px #444,1163px 1815px #444,28px 1809px #444,794px 46px #444,1590px 1636px #444,1129px 480px #444,182px 96px #444,1183px 156px #444,623px 670px #444,1182px 529px #444,844px 748px #444,431px 839px #444,1574px 1871px #444,1472px 902px #444,1867px 1066px #444,1437px 1454px #444,1990px 707px #444,1229px 531px #444,1447px 1147px #444,1390px 1613px #444,1298px 1639px #444,20px 1732px #444,1458px 77px #444,1569px 1867px #444,1567px 996px #444,545px 1282px #444,107px 345px #444,1714px 1460px #444,732px 541px #444,145px 1684px #444;
}

#particles:after, #particles2:after, #particles3:after  {
	content:" ";
	position:absolute;
	top:2000px;
	background:0 0;
	z-index:-8
}

#particles {
	background:0 0;
	-webkit-animation:i 70s linear infinite;
	animation:i 70s linear infinite;
	z-index: -100;
}
#particles2 {
	background:0 0;
	-webkit-animation:i 120s linear infinite;
	animation:i 120s linear infinite;
	z-index: -100;
}
#particles3 {
	background:0 0;
	-webkit-animation:i 170s linear infinite;
	animation:i 170s linear infinite;
	z-index: -100;
}
@-webkit-keyframes i{
	0% {
		-webkit-transform:translateY(0);
		transform:translateY(0)
	} to {
		-webkit-transform:translateY(-2000px);
		transform:translateY(-2000px)
	}
}
@keyframes i {
	0% {
		-webkit-transform:translateY(0);
		transform:translateY(0)
	} to {
		-webkit-transform:translateY(-2000px);
		transform:translateY(-2000px)
	}
}

.header {
 text-align: center;
 color: #ffffff;
}

#products{
  color: white;
  font-size: 40px;
  margin-left: 780px;
  margin-top: 50px;
}


/* MUSIC */

#music{
  margin-left: 800px;
  margin-top: 50px;
}


 /* VINTAGE TV */


main {
	font-size: 10px;
	margin: auto;
	width: 51em;
	height: 52.5em;
}
canvas {
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.tv-body, .controls, .legs {
	display: flex;
}
.tv-body, .controls {
	justify-content: center;
}
.tv-body {
  margin-top: 50px;
	background-color: #8c5b3d;
	background-image:
		radial-gradient(10em 0.4em at 8em 0.8em,#fff,#fff0),
		radial-gradient(10em 0.4em at 20em 0.8em,#fff,#fff0),
		radial-gradient(10em 0.4em at 36em 0.8em,#fff,#fff0),
		radial-gradient(14em 0.8em at 6em 2em,#fff 50%,#fff0),
		radial-gradient(55em 0.4em at 50% 2em,#fff3,#fff0),
		linear-gradient(#0000,#0004),
		radial-gradient(12em 0.4em at 32em 2em,#fff,#fff0),
		url(https://i.ibb.co/rwcYp69/vintage-tv-texture.jpg);
	border-radius: 0.75em 0.75em 0.75em 0.75em / 3em 3em 0.75em 0.75em;
	box-shadow: 0 -1em 0.75em #ba816c7f inset;
	flex-direction: column;
	align-items: center;
	height: 51em;
}
.screen-container, .controls {
	width: 38em;
}
.screen-container {
	background-color: #bcb;
	margin: 3em 0 0 0;
	overflow: hidden;
	position: relative;
	height: 28em;
}
.screen, .screen-inset, .screen-frame, canvas {
	position: absolute;
}
.screen, .screen-inset {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.screen {
	background-image:
		radial-gradient(1em 1em at 22% 19%,#fff 25%,#fff0),
		radial-gradient(4em 1.5em at 35% 17%,#fff 35%,#fff0),
		radial-gradient(1em 1em at 82% 24%,#fff 25%,#fff0),
		radial-gradient(100% 175% at 50% 50%,#0000 32%,#000 60%),
		radial-gradient(175% 100% at 50% 53%,#0000 32%,#000 60%);
}
.screen-inset {
	box-shadow: 0 -0.1em 0.1em 0.6em #3a1415 inset;
}
.screen-frame {
	border-top: 8em solid #7b807d;
	border-right: 8em solid #9da28f;
	border-bottom: 8em solid #b0b5a0;
	border-left: 8em solid #8c917e;
	border-radius: 16em;
	box-shadow: 0 0.1em 0.2em 0.2em #0007 inset;
	top: 50%;
	left: 50%;
	width: calc(100% + 9.5em);
	height: calc(100% + 10em);
	transform: translate(-50%,-50%);
}
.logo-badge, .logo-badge:before, .logo-badge:after {
	background: #401f25;
}
.logo-badge, .dial-label {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.logo-badge {
	border-radius: 0.25em;
	box-shadow:
		0 0.2em 0.2em #fff4 inset,
		0 -0.2em 0.2em #0004 inset;
	color: #aa5;
	cursor: default;
	font: 1.5em Playball, cursive;
	line-height: 1.5;
	margin: 0.4em 0;
	position: relative;
	text-align: center;
	width: 2.4em;
	height: 1.5em;
}
.logo-badge:before, .logo-badge:after {
	content: "";
	display: block;
	position: absolute;
	top: 0.2em;
	width: 1.2em;
	height: 1em;
}
.logo-badge:before {
	border-radius: 50% 0 0 50%;
	box-shadow:
		0.1em 0.1em 0.2em #fff4 inset,
		0.1em -0.1em 0.2em #0004 inset;
	right: 95%;
}
.logo-badge:after {
	border-radius: 0 50% 50% 0;
	box-shadow:
		-0.1em 0.1em 0.2em #fff4 inset,
		-0.1em -0.1em 0.2em #0004 inset;
	left: 95%;
}
.logo-text {
	transform: scaleX(0.75);
}
.controls {
	background-color: currentColor;
	border-radius: 1.5em;
	box-shadow:
		0 0.3em 0.5em 0.5em #0007,
		0 0 0.5em 0.4em inset,
		0 -0.1em 0.3em 0.3em #fffc inset,
		0 0.1em 0.2em 1em inset,
		0 1.6em 0.4em 0 #fff4 inset,
		0 -1.3em 0.4em 0 #fff6 inset,
		0.2em 0.9em 0.25em 1.5em #0007 inset,
		0 -2.2em 0.1em #ffffff17 inset,
		0 -2.5em 0.2em #0002 inset;
	color: #401f25;
	padding-top: 2.4em;
	height: 12em;
}
.panel, .vents {
	height: 8.5em;
}
.panel {
	width: 5.5em;
}
.screw, .dial {
	border-radius: 50%;
}
.screw {
	background-color: #fff1;
	background-image: linear-gradient(#0000 38%,#0005 38%,#0005 55%,#fff3 55%,#fff3 67%,#fff0 67%);
	box-shadow: 0 0 0 0.3em #0005;
	margin: 0 auto 1em auto;
	width: 2em;
	height: 2em;
	transform: rotate(45deg);
}
.dial {
	box-shadow:
		0 0 0.2em 0.5em #0003,
		-0.2em 0.3em 0.2em 0.5em #ffffff17 inset,
		0 0 0 0.6em inset;
	margin: auto;
	position: relative;
	width: 5em;
	height: 5em;
}
.dial-label {
	background-color: transparent;
	border-radius: 50%;
	color: #994;
	cursor: pointer;
	font: bold 0.7em sans-serif;
	line-height: 5;
	position: absolute;
	bottom: 0.2em;
	left: 0.1em;
	text-align: center;
	text-shadow: 0 0.2em 0 #000;
	text-transform: uppercase;
	transition: transform 0.2s ease-in-out;
	width: 7em;
	height: 7em;
	-webkit-appearance: none;
	appearance: none;
}
.dial-label:disabled {
	cursor: not-allowed;
}
.dial-label:focus {
	outline: transparent;
}
.panel:last-child .screw {
	transform: rotate(25deg);
}
.panel:last-child .dial {
	box-shadow:
		0 0 0.2em 0.5em #0003,
		0.2em 0.3em 0.2em 0.5em #ffffff17 inset,
		0 0 0 0.6em inset;
}
.panel:last-child .dial-label {
	left: 0.2em;
}
.vents {
	width: 24em;
}
.vent {
	background-color: #fff7;
	border-radius: 0.75em;
	box-shadow:
		0 -0.7em 0.3em inset,
		0 -0.2em 0.2em #fff3,
		0 0.5em 0.3em #000c;
	margin-bottom: 0.4em;
	width: 100%;
	height: 1em;
}
.legs {
	background-color: #462b34;
	box-shadow: 0 0.5em 0.4em #462b34;
	justify-content: space-between;
	margin: auto;
	width: 49em;
	height: 1.5em;
}
.leg {
	background-color: #765c62;
	box-shadow: 0 0.4em 0.3em #0007 inset;
	width: 7em;
	height: 100%;
}
.pristine {
	animation: glow 1.5s linear infinite;
	box-shadow: 0 0 1em #ff0;
}
.hide {
	display: none;
}

@keyframes glow {
	from, to {box-shadow: 0 0 1em 0 #ff0 }
	50% { box-shadow: 0 0 3em 0 #ff0 }
}
